.af-view .af-class-headtitle {
  margin-top: 0%;
  margin-right: 0%;
  margin-left: 0%;
  border: 1px solid transparent;
  font-family: 'PT Serif', serif;
  color: #5a5590;
  font-size: 40px;
}

.af-view .af-class-headdesc {
  margin-top: 16px;
  margin-right: 0%;
  margin-left: 0%;
  font-family: Montserrat, sans-serif;
  color: #52504e;
  font-size: 14px;
  line-height: 24px;
}

.af-view .af-class-headsection {
  margin-top: 36px;
  margin-right: 24%;
  margin-left: 24%;
}

.af-view .af-class-btnwalletconnection {
  position: static;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: inline-block;
  overflow: visible;
  height: auto;
  margin-top: 0%;
  margin-right: 0%;
  margin-left: 0%;
  float: right;
  clear: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 24px;
  background-color: #5a5590;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  -o-object-fit: fill;
  object-fit: fill;
}

.af-view .af-class-btnwalletconnection:hover {
  background-color: #403d68;
}

.af-view .af-class-container {
  display: block;
}

.af-view .af-class-div-block {
  margin-top: 36px;
  margin-right: 24%;
  margin-left: 24%;
}

.af-view .af-class-form-block {
  margin-top: 48px;
  margin-right: 24%;
  margin-left: 24%;
}

.af-view .af-class-tflink {
  border-radius: 16px;
}

.af-view .af-class-tfdesc {
  border-radius: 16px;
}

.af-view .af-class-btnsend {
  display: inline-block;
  width: 100%;
  height: auto;
  margin-top: 24px;
  border-radius: 24px;
  background-color: #5a5590;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

.af-view .af-class-btnsend:hover {
  background-color: #403d68;
}

.af-view .af-class-labellink {
  margin-left: 0px;
  font-family: Montserrat, sans-serif;
  color: #5a5590;
  font-size: 14px;
  font-weight: 600;
}

.af-view .af-class-labeldesc {
  margin-top: 16px;
  margin-left: 0px;
  font-family: Montserrat, sans-serif;
  color: #5a5590;
  font-size: 14px;
  font-weight: 600;
}

.af-view .af-class-success-message {
  background-color: #5a5590;
  color: #fff;
}

.af-view .af-class-labelsubtitlelink {
  margin-left: 0px;
  font-family: Montserrat, sans-serif;
  color: #5a5590;
  font-size: 12px;
  font-weight: 400;
}

.af-view .af-class-utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.af-view .af-class-utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.af-view .af-class-utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.af-view .af-class-image {
  position: static;
  display: block;
  clear: none;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

@media screen and (max-width: 991px) {
  .af-view .af-class-btnsend {
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .af-view .af-class-headtitle {
    font-size: 32px;
  }

  .af-view .af-class-headdesc {
    font-size: 12px;
    line-height: 20px;
  }

  .af-view .af-class-btnwalletconnection {
    height: 36px;
    font-size: 12px;
  }

  .af-view .af-class-btnsend {
    height: 36px;
    font-size: 12px;
  }

  .af-view .af-class-labellink {
    font-size: 12px;
  }

  .af-view .af-class-labeldesc {
    font-size: 12px;
  }

  .af-view .af-class-labelsubtitlelink {
    font-size: 10px;
  }
}

@media screen and (max-width: 479px) {
  .af-view .af-class-headsection {
    margin-right: 8%;
    margin-left: 8%;
  }

  .af-view .af-class-div-block {
    margin-right: 8%;
    margin-left: 8%;
  }

  .af-view .af-class-body {
    font-size: 12px;
  }

  .af-view .af-class-form-block {
    margin-top: 36px;
    margin-right: 8%;
    margin-left: 8%;
  }

  .af-view .af-class-btnsend {
    margin-top: 16px;
  }
}