.af-view {
  background-color: #fff4ee;
}

.af-view .af-class-headtitle {
  margin-top: 0%;
  margin-right: 0%;
  margin-left: 0%;
  border: 1px solid transparent;
  font-family: 'PT Serif', serif;
  color: #5a5590;
  font-size: 40px;
}

.af-view .af-class-headdesc {
  margin-top: 16px;
  margin-right: 0%;
  margin-left: 0%;
  font-family: Montserrat, sans-serif;
  color: #52504e;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.af-view .af-class-headsection {
  margin-top: 36px;
  margin-right: 24%;
  margin-left: 24%;
}

.af-view .af-class-btnwalletconnect {
  position: static;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: inline-block;
  overflow: visible;
  height: auto;
  margin-top: 0%;
  margin-right: 0%;
  margin-left: 0%;
  float: right;
  clear: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 24px;
  background-color: #5a5590;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  -o-object-fit: fill;
  object-fit: fill;
}

.af-view .af-class-btnwalletconnect:hover {
  background-color: #403d68;
}

.af-view .af-class-container {
  display: block;
}

.af-view .af-class-div-block {
  margin-top: 36px;
  margin-right: 24%;
  margin-left: 24%;
}

.af-view .af-class-form-block {
  margin-top: 48px;
  margin-right: 24%;
  margin-left: 24%;
}

.af-view .af-class-tflink {
  border-radius: 16px;
}

.af-view .af-class-tfdesc {
  border-radius: 16px;
}

.af-view .af-class-btnsend {
  display: inline-block;
  width: 100%;
  height: auto;
  margin-top: 24px;
  border-radius: 24px;
  background-color: #5a5590;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

.af-view .af-class-btnsend:hover {
  background-color: #403d68;
}

.af-view .af-class-labellink {
  margin-left: 0px;
  font-family: Montserrat, sans-serif;
  color: #5a5590;
  font-size: 14px;
  font-weight: 600;
}

.af-view .af-class-labeldesc {
  margin-top: 16px;
  margin-left: 0px;
  font-family: Montserrat, sans-serif;
  color: #5a5590;
  font-size: 14px;
  font-weight: 600;
}

.af-view .af-class-success-message {
  border-radius: 16px;
  background-color: #5a5590;
  box-shadow: 10px 10px 6px -3px #504e69;
  color: #fff;
}

.af-view .af-class-labelsubtitlelink {
  margin-left: 0px;
  font-family: Montserrat, sans-serif;
  color: #5a5590;
  font-size: 12px;
  font-weight: 400;
}

.af-view .af-class-utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.af-view .af-class-utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.af-view .af-class-utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.af-view .af-class-image {
  position: static;
  display: block;
  clear: none;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.af-view .af-class-text-block {
  margin-top: 16px;
  margin-right: 24%;
  margin-left: 24%;
  font-family: Montserrat, sans-serif;
  color: #52504e;
  font-size: 14px;
  font-weight: 400;
}

.af-view .af-class-btndismisssuccess {
  position: static;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: inline-block;
  overflow: visible;
  height: auto;
  margin: 16px 0% 8px;
  float: none;
  clear: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #52504e;
  border-radius: 24px;
  background-color: #fff4ee;
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  -o-object-fit: fill;
  object-fit: fill;
}

.af-view .af-class-btndismisssuccess:hover {
  background-color: #c5bab4;
  color: #242322;
}

.af-view .af-class-labelthankyoucaption {
  margin-top: 16px;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
}

.af-view .af-class-labelthankyoutitle {
  margin-top: 8px;
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
}

.af-view .af-class-labelthankyousubtitle {
  margin-top: 8px;
  font-family: Montserrat, sans-serif;
  font-weight: 300;
}

.af-view .af-class-btnhash {
  display: inline-block;
  margin-top: 8px;
  margin-right: 10%;
  margin-left: 10%;
  padding: 8px 16px;
  border-radius: 16px;
  background-color: #44406e;
  cursor: pointer;
}

.af-view .af-class-btnhash:hover {
  background-color: #343153;
}

.af-view .af-class-btnsendplaylist {
  position: static;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: inline-block;
  overflow: visible;
  width: 100%;
  height: auto;
  margin-top: 24px;
  margin-right: 0%;
  margin-left: 0%;
  float: none;
  clear: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 24px;
  background-color: #5a5590;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  -o-object-fit: fill;
  object-fit: fill;
}

.af-view .af-class-btnsendplaylist:hover {
  background-color: #403d68;
}

.af-view .af-class-text-block-2 {
  margin-top: 17px;
}

.af-view .af-class-texterror {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  text-align: center;
}

.af-view .af-class-error-message {
  padding-right: 16px;
  padding-left: 16px;
}

.af-view .af-class-loading {
  margin-top: 16px;
  padding: 16px;
}

.af-view .af-class-textloadingtitle {
  margin-top: 0px;
  font-family: 'PT Serif', serif;
  color: #5a5590;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

.af-view .af-class-textloadingdesc {
  -webkit-transition: opacity 300ms cubic-bezier(.25, .1, 0, .82);
  transition: opacity 300ms cubic-bezier(.25, .1, 0, .82);
  font-family: Montserrat, sans-serif;
  color: #5a5590;
  text-align: center;
}

.af-view .af-class-lottie-animation {
  height: 128px;
}

.af-view .af-class-list {
  margin: 0px 24%;
  padding: 24px 16px;
}

.af-view .af-class-textitemsender {
  margin-top: 24px;
  font-family: Montserrat, sans-serif;
  color: #5a5590;
  text-align: left;
}

.af-view .af-class-textitemlink {
  margin-top: 24px;
  padding: 8px 16px;
  border-radius: 16px;
  background-color: #5a5590;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  cursor: pointer;
}

.af-view .af-class-text-block-5 {
  color: #fff;
}

.af-view .af-class-textitemdesc {
  margin-top: 8px;
  margin-bottom: 0px;
  border-left-color: #5a5590;
  font-family: Montserrat, sans-serif;
  color: #5a5590;
  font-size: 16px;
  font-weight: 400;
}

.af-view .af-class-textitemsendername {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  cursor: pointer;
}

.af-view .af-class-textitemsenderdate {
  font-weight: 600;
}

.af-view .af-class-listitem {
  padding: 24px;
  border-radius: 16px;
  background-color: #fce9dc;
  box-shadow: 10px 10px 7px -5px #af9786;
}

.af-view .af-class-labellist {
  margin: 36px 24% 0px;
  font-family: Montserrat, sans-serif;
  color: #5a5590;
  font-size: 24px;
  font-weight: 500;
}

@media screen and (max-width: 991px) {
  .af-view .af-class-btnsend {
    font-size: 14px;
  }

  .af-view .af-class-labellist {
    margin-right: 24%;
    margin-left: 24%;
  }
}

@media screen and (max-width: 767px) {
  .af-view .af-class-headtitle {
    font-size: 32px;
  }

  .af-view .af-class-headdesc {
    font-size: 12px;
    line-height: 20px;
  }

  .af-view .af-class-btnwalletconnect {
    height: 36px;
    font-size: 12px;
  }

  .af-view .af-class-btnsend {
    height: 36px;
    font-size: 12px;
  }

  .af-view .af-class-labellink {
    font-size: 12px;
  }

  .af-view .af-class-labeldesc {
    font-size: 12px;
  }

  .af-view .af-class-labelsubtitlelink {
    font-size: 10px;
  }

  .af-view .af-class-btndismisssuccess {
    height: 36px;
    font-size: 12px;
  }

  .af-view .af-class-btnsendplaylist {
    height: 36px;
    font-size: 12px;
  }
}

@media screen and (max-width: 479px) {
  .af-view .af-class-headsection {
    margin-right: 8%;
    margin-left: 8%;
  }

  .af-view .af-class-div-block {
    margin-right: 8%;
    margin-left: 8%;
  }

  .af-view .af-class-body {
    font-size: 12px;
  }

  .af-view .af-class-form-block {
    margin-top: 36px;
    margin-right: 8%;
    margin-left: 8%;
  }

  .af-view .af-class-btnsend {
    margin-top: 16px;
  }

  .af-view .af-class-labelthankyoucaption {
    font-size: 10px;
  }

  .af-view .af-class-labelthankyoutitle {
    font-size: 14px;
  }

  .af-view .af-class-labelthankyousubtitle {
    font-size: 10px;
  }

  .af-view .af-class-btnhash {
    text-align: center;
  }
}